.el-container {
  max-width: 500px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* border-radius: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}

.header-container {
  width: 100%;
  padding: 0 20px; /* 适当的内边距，可根据需要调整 */
  box-sizing: border-box;
}

.operation-buttons-left {
  text-align: left; /* 左对齐 */
}

.operation-buttons-right {
  text-align: right; /* 右对齐 */
}

.el-main {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: -20px;
}

.stuInfo {
  letter-spacing: 2px;
}

.runInfo {
  letter-spacing: 2px;
  margin-bottom: -20px;
}
.el-progress {
  margin-bottom: 15px;
  max-width: 600px;
}

.el-progress-bar__innerText {
  color: #303133;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.input-group {
  margin: 10px 0;
}

.icon-button {
  border: none;
  color: #000;
  background-color: transparent;
  font-size: 20px;
  padding: 0;
}

.icon-button:hover {
  color: red;
}

.masked {
  filter: blur(5px);
  cursor: pointer;
}

.masked:hover {
  filter: blur(2px);
}

.el-row {
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
}
