:root {
    --color-background: #FFFFFF;
}

:root {
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-success: #28a745;
    --color-info: #17a2b8;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-light: #f8f9fa;
    --color-dark: #343a40;
    --color-white: #fff;
    --color-black: #000;
}

:root {
    --text-color-primary: #303133;
}