.el-container {
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
}

.el-header {
  /* height: 5px; */
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.el-form {
  width: 100%;
}

.el-form-item {
  margin-bottom: 20px;
}

.el-button {
  width: 100%;
  border-radius: 20px;
}

.phone-input {
  position: relative;
}

.sms-button {
  position: absolute;
  max-width: 100px;
  right: 0;
  top: 0;
  border-radius: 0;
}

