@import 'tailwindcss';

@layer base {
	button,
	input,
	textarea,
	select,
	a,
	img,
	[role='button'] {
		transition: all 550ms ease-in-out;
	}
}

/* 隐藏所有滚动条 */
html,
body {
	scrollbar-width: none;
	-ms-overflow-style: none;
	scrollbar-gutter: stable;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
}

/* 为所有可滚动元素隐藏滚动条 */
*::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
}
