@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 隐藏所有滚动条 */
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-gutter: stable;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

/* 为所有可滚动元素隐藏滚动条 */
*::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
