/* 隐藏全局滚动条 */
::-webkit-scrollbar {
  display: none;
}

html, body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

#app {
  height: 100%;
  overflow: hidden;
}

/* 图标 */
.el-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.el-icon svg {
  font-size: 24px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.logo {
  font-size: 32px;
  width: 32px;
  height: 32px;
  filter: brightness(var(--logo-value));
}

@media screen and (max-width: 480px) {
  .el-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
  }
  .el-icon svg {
    font-size: 24px;
    width: 24px;
    height: 24px;
  }
  .logo {
    font-size: 24px;
    width: 24px;
    height: 24px;
  }
}